[submodule "configs/tmux/plugins/tpm"]
	path = terminal/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "configs/alacritty/themes"]
	path = gui/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
